#configuracion de django
SECRET_KEY = TU_SECRET_KEY
DEBUG = tu_debug
ALLOWED_HOSTS = 127.0.0.1, localhost

#Configuraciòn base de datos     
DB_NAME = tu_db_name
DB_USER = tu_db_user
DB_PASSWORD = tu_db_password
DB_HOST = tu_db_host
DB_PORT = tu_db_port